*.log
*.o
*.lo
*.so
*.db
*.la
.deps
.libs
autom4te.cache
stamp-h1
Makefile
*~
config.log
config.status
GPATH
GRTAGS
GSYMS
GTAGS
libtool
src/nv.pc
src/nv_core/config.h
src/nv_core/nv_config_auto.h
src/nv_dump_lr
tmp/
src/nv_flags
src/nv_kmeans_tree_text2bin
src/nv_matrix_text2bin
src/tests/nv_test
src/tests/test.mat
src/tests/test.matb
src/config.h