Source: nv
Priority: extra
Maintainer: nagadomi <nagadomi@nurs.or.jp>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, eiio-dev, libssl-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://github.com/nagadomi/nv

Package: nv-dev
Section: libdevel
Architecture: any
Depends: nv (= ${binary:Version})
Description: Computer Vision Library

Package: nv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Computer Vision Library
